section(class='clients')
  div(class='clients__container container')
    h2(class='clients__title') Happy Clients
    ul(class='clients__list')
      li(class='clients__item')
        a(class='clients__link' href='#')
          div(class='clients__photo-wrapper clients__photo-wrapper--salon')
            picture
              source(type='image/webp' srcset='img/salon-desktop@1x.webp')
              img(src='img/salon-desktop@1x.png' alt='salon')
      li(class='clients__item')
        a(class='clients__link' href='#')
          div(class='clients__photo-wrapper clients__photo-wrapper--luscious')
            picture
              source(type='image/webp' srcset='img/luscious-desktop@1x.webp')
              img(src='img/luscious-desktop@1x.png' alt='luscious')
      li(class='clients__item')
        a(class='clients__link' href='#')
          div(class='clients__photo-wrapper clients__photo-wrapper--brillbird')
            picture
              source(type='image/webp' srcset='img/brillbird-desktop@1x.webp')
              img(src='img/brillbird-desktop@1x.png' alt='brillbird')
      li(class='clients__item')
        a(class='clients__link' href='#')
          div(class='clients__photo-wrapper clients__photo-wrapper--loxa')
            picture
              source(type='image/webp' srcset='img/loxa-desktop@1x.webp')
              img(src='img/loxa-desktop@1x.png' alt='loxa')
      li(class='clients__item')
        a(class='clients__link' href='#')
          div(class='clients__photo-wrapper clients__photo-wrapper--minkys')
            picture
              source(type='image/webp' srcset='img/minkys-desktop@1x.webp')
              img(src='img/minkys-desktop@1x.png' alt='minkys')
      li(class='clients__item')
        a(class='clients__link' href='#')
          div(class='clients__photo-wrapper clients__photo-wrapper--babaria')
            picture
              source(type='image/webp' srcset='img/babaria-desktop@1x.webp')
              img(src='img/babaria-desktop@1x.png' alt='babaria')
