.social-list {
  display: flex;
  flex-flow: row wrap;
  margin-right: -10px;
}

.social-list__item {
  margin-right: 13px;
  margin-bottom: 13px;
}

.social-list__link {
  @include defaultHoverEffect();

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.social-list__icon {
  fill: $white;
}

.social-list--slim .social-list__item {
  margin-right: 0;

  & .social-list__item {
    margin-right: 0;
    margin-bottom: 0;
  }
}
