.about {
  position: relative;
  min-height: 930px;
  padding: 100px 0 150px;

  color: $magenta-blue;

  background:
    top 100px left calc(50% - 543px) / 514px 730px no-repeat url("../img/camera-back-desktop@1x.jpg"),
    bottom 0 left 0 / 150px 150px repeat-x url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTAgMTUwIj4KPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiIGZpbGw9IiNGRkYiIC8+Cjwvc3ZnPgo="),
    $grayish-blue;

  overflow-x: hidden;

  @media (max-width: $only-half-full-hd) {
    padding: 100px 0 150px 414px;

    background:
      top 100px left -100px / 514px 730px no-repeat url("../img/camera-back-desktop@1x.jpg"),
      bottom 0 left 0 / 150px 150px repeat-x url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTAgMTUwIj4KPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiIGZpbGw9IiNGRkYiIC8+Cjwvc3ZnPgo="),
      $grayish-blue;
  }

  @media (max-width: $only-tablet-width) {
    padding: 100px 0 150px 320px;

    background:
      top 100px left -200px / 514px 730px no-repeat url("../img/camera-back-desktop@1x.jpg"),
      bottom 0 left 0 / 150px 150px repeat-x url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTAgMTUwIj4KPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiIGZpbGw9IiNGRkYiIC8+Cjwvc3ZnPgo="),
      $grayish-blue;
  }

  @media (max-width: $only-mobile-width) {
    min-height: auto;
    padding: 30px 0 60px;

    background:
      bottom 0 left 0 / 60px 60px repeat-x url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTAgMTUwIj4KPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIxNTAiIGZpbGw9IiNGRkYiIC8+Cjwvc3ZnPgo="),
      $grayish-blue;
  }
}

.about__container {
  padding-left: 435px;

  @media (max-width: $only-half-full-hd) {
    padding-left: 0;
  }

  @media (max-width: $only-about-breakpoint) {
    margin: 0 50px;
  }

  @media (max-width: $only-tablet-width) {
    margin: 0 25px;
  }
}

.about__title {
  margin: 43px 0 5px;

  font: $text-about-title;
  color: $midnight-blue;

  @media (max-width: $only-mobile-width) {
    margin: 25px 0 5px;

    font: $text-about-title-mobile;
  }
}

.about__text {
  margin: 5px 0;
  padding: 0;

  font: $text-about;
  color: $magenta-blue;

  @media (max-width: $only-mobile-width) {
    font: $text-about-mobile;
  }
}

.about__section-title {
  margin: 25px 0 10px;

  font: $text-about-section;
  color: $magenta-blue;

  @media (max-width: $only-mobile-width) {
    margin: 20px 0 10px;

    font: $text-about-section-mobile;
  }
}

.about__activities-list {
  display: flex;
  flex-flow: row wrap;
  margin-right: -160px;

  @media (max-width: $only-half-full-hd) {
    margin-right: -120px;
  }

  @media (max-width: $only-about-breakpoint) {
    margin-right: -40px;
  }

  @media (max-width: $only-tablet-width) {
    margin-right: -20px;
  }
}

.about__activities-item {
  width: 135px;
  margin-right: 160px;
  margin-bottom: 25px;

  @media (max-width: $only-half-full-hd) {
    margin-right: 120px;
  }

  @media (max-width: $only-about-breakpoint) {
    margin-right: 40px;
  }

  @media (max-width: $only-tablet-width) {
    margin-right: 20px;
  }
}

.about__activities-link {
  @include defaultHoverEffect();

  display: block;
}

.about__activities-title {
  margin: 7px 0 10px;

  font: $text-about-activities;
  color: $magenta-blue;
  text-transform: uppercase;

  @media (max-width: $only-mobile-width) {
    font: $text-about-activities-mobile;
  }
}

.about__activities-photo-wrapper {
  @include imgContainer();

  width: 130px;
  height: 120px;
}

.about__button {
  margin: 30px 0;

  @media (max-width: $only-mobile-width) {
    margin: 20px 0;
  }
}
