section(class='about')
  div(class='about__container container')
    h2(class='about__title') About MySelf
    p(class='about__text').
      Hey, thanks for stopping by. My name’s Dakota Jhonson junior and I’m a brilliant Art Director and pro Photographer based in the San Francisco where I make cool things for agencies and brands around globe. Mentas is loaded with useful features, each one with its own meaningful purpose. We listen to our users and integrate their feature requests on a regular basis. If you like my work then please do not hesitate to reach out.
    h3(class='about__section-title') What I Do?
    ul(class='about__activities-list')
      li(class='about__activities-item')
        a(class='about__activities-link' href='portfolio.html')
          h4(class='about__activities-title') Fashion
          div(class='about__activities-photo-wrapper')
            picture
              source(type='image/webp' srcset='img/fashion-desktop@1x.webp')
              img(src='img/fashion-desktop@1x.jpg' alt='fashion')
      li(class='about__activities-item')
        a(class='about__activities-link' href='portfolio.html')
          h4(class='about__activities-title') Portraits
          div(class='about__activities-photo-wrapper')
            picture
              source(type='image/webp' srcset='img/portraits-desktop@1x.webp')
              img(src='img/portraits-desktop@1x.jpg' alt='portraits')
      li(class='about__activities-item')
        a(class='about__activities-link' href='portfolio.html')
          h4(class='about__activities-title') Lifestyle
          div(class='about__activities-photo-wrapper')
            picture
              source(type='image/webp' srcset='img/lifestyle-desktop@1x.webp')
              img(src='img/lifestyle-desktop@1x.jpg' alt='lifestyle')
    a(class='about__button button button--blue button--uppercase' href='https://www.flickr.com/' target='_blank') View My Flickr Profile
