mixin toggle()
  button(class=attributes.parentClass class='toggle toggle--animation toggle--active' type='button' aria-label='Открыть меню')
    span(class='toggle-box')
      span(class='toggle-inner')
