doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='format-detection' content='telephone=no')
    link(rel='preload' href='fonts/trirong-light.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='fonts/trirong-regular.woff2' as='font' crossorigin='anonymous')
    link(href='css/style.min.css' rel='stylesheet')

    block title
      title Hello - contact form

    block pixel-glass
      style.
        html {
          background-repeat: no-repeat;
          background-position: 50% 0;
          background-image: url("img/layout-mob.jpg");
        }

        /* Tablet */
        @media (min-width: 768px) {
          html {
            background-image: url("img/layout-desk.jpg");
          }
        }

  body

    include ../blocks/form/form.pug

    script(src='js/script.min.js')
