.header {
  position: relative;
  z-index: 100;
  min-height: 146px;
  margin-bottom: -146px;
  padding-top: 40px;

  color: $white;

  @media (max-width: $only-mobile-width) {
    min-height: 90px;
    margin-bottom: -90px;
    padding-top: 20px;

    background-color: $midnight-blue;
  }
}

.header__container {
  display: flex;
}

.header__site-logo {
  margin-top: 25px;
}

.header__toggle {
  @include defaultHoverEffect();

  display: none;

  @media (max-width: $only-mobile-width) {
    display: block;
    margin-top: 15px;
    margin-left: auto;
  }
}

.header__navigation {
  margin-top: 20px;
  margin-left: auto;

  @media (max-width: $only-mobile-width) {
    position: absolute;
    top: 70px;
    right: -25px;
    display: block;
    width: calc(100% + 50px);
    min-height: 250px;
    margin: 0;

    background-color: $midnight-blue;
  }
}

.header__navigation-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 550px;
  margin-right: -13px;

  @media (max-width: $only-half-full-hd) {
    width: 500px;
  }

  @media (max-width: $only-tablet-width) {
    width: 400px;
  }

  @media (max-width: $only-mobile-width) {
    flex-flow: column nowrap;
    width: 300px;
    margin: 0 auto;
  }
}

.header__navigation-item {
  margin-right: 13px;
  margin-bottom: 13px;

  @media (max-width: $only-mobile-width) {
    margin-right: 0;

    text-align: center;
  }
}

.header__navigation-link {
  @include defaultHoverEffect();

  display: block;
  padding: 1px 7px;

  font: $text-header-navigation;
  color: $white;

  &--current {
    border-bottom: 1px solid $pure-yellow;
  }

  @media (max-width: $only-mobile-width) {
    display: inline-block;
  }
}

.header--closed {

  @media (max-width: $only-mobile-width) {
    background-color: transparent;

    & .header__navigation {
      display: none;
    }
  }
}
