header(class='header')
  div(class='header__container container')

    include ../site-logo/site-logo.pug
    +site-logo()(parentClass='header__site-logo')

    include ../toggle/toggle.pug
    +toggle()(parentClass='header__toggle')

    nav(class='header__navigation')
      ul(class='header__navigation-list')
        li(class='header__navigation-item')
          a(class='header__navigation-link header__navigation-link--current') Home
        li(class='header__navigation-item')
          a(class='header__navigation-link' href='about.html') About
        li(class='header__navigation-item')
          a(class='header__navigation-link' href='clients.html') Clients
        li(class='header__navigation-item')
          a(class='header__navigation-link' href='portfolio.html') Portfolio
        li(class='header__navigation-item')
          a(class='header__navigation-link' href='blog.html') Blog
