section(class='portfolio')
  div(class='portfolio__text-wrapper')
    div(class='portfolio__text-container')
      h2(class='portfolio__title') Portfolio
      p(class='portfolio__text').
        The point of using Lorem Ipsum is that it has a non more-or-less normal distribution of letters, as clipper opposed. A closer look to our fully furnished and beautiful demos, which can be easily found on this website. You can find some pictures I've taken during my travel. A close look to our fully furnished and so beautiful demos, which can be used.
      a(class='portfolio__more' href='portfolio.html') Read More...
  div(class='portfolio__grid-wrapper')

    include ../share/share.pug

    div(class='portfolio__col-one')
      div(class='portfolio__photo-wrapper portfolio__photo-wrapper--xl portfolio__photo-wrapper--active' tabindex='0')
        picture
          source(type='image/webp' srcset='img/lens-desktop@1x.webp')
          img(src='img/lens-desktop@1x.jpg' alt='lens')
        +share({ image: 'lens-desktop@1x.jpg'})(parentClass='portfolio__share')
      div(class='portfolio__photo-wrapper portfolio__photo-wrapper--xl' tabindex='0')
        picture
          source(type='image/webp' srcset='img/wedding-desktop@1x.webp')
          img(src='img/wedding-desktop@1x.jpg' alt='wedding')
        +share({ image: 'wedding-desktop@1x.jpg'})(parentClass='portfolio__share')
    div(class='portfolio__col-two')
      div(class='portfolio__photo-wrapper portfolio__photo-wrapper--l' tabindex='0')
        picture
          source(type='image/webp' srcset='img/coffee-desktop@1x.webp')
          img(src='img/coffee-desktop@1x.jpg' alt='coffee')
        +share({ image: 'coffee-desktop@1x.jpg'})(parentClass='portfolio__share')
      div(class='portfolio__photo-wrapper portfolio__photo-wrapper--s' tabindex='0')
        picture
          source(type='image/webp' srcset='img/woman-desktop@1x.webp')
          img(src='img/woman-desktop@1x.jpg' alt='woman')
        +share({ image: 'woman-desktop@1x.jpg'})(parentClass='portfolio__share')
      div(class='portfolio__photo-wrapper portfolio__photo-wrapper--m' tabindex='0')
        picture
          source(type='image/webp' srcset='img/violin-desktop@1x.webp')
          img(src='img/violin-desktop@1x.jpg' alt='violin')
        +share({ image: 'violin-desktop@1x.jpg'})(parentClass='portfolio__share')
      div(class='portfolio__photo-wrapper portfolio__photo-wrapper--m' tabindex='0')
        picture
          source(type='image/webp' srcset='img/glasses-desktop@1x.webp')
          img(src='img/glasses-desktop@1x.jpg' alt='glasses')
        +share({ image: 'glasses-desktop@1x.jpg'})(parentClass='portfolio__share')
      div(class='portfolio__photo-wrapper portfolio__photo-wrapper--xl' tabindex='0')
        picture
          source(type='image/webp' srcset='img/girl-desktop@1x.webp')
          img(src='img/girl-desktop@1x.jpg' alt='girl')
        +share({ image: 'girl-desktop@1x.jpg'})(parentClass='portfolio__share')
    a(class='portfolio__button button button--white button--uppercase' href='portfolio.html') See more
