.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 0 100px;

  font: $text-default;
  color: $default-text-color;

  background:
    linear-gradient(rgba($black, 0.3), rgba($black, 0.3)),
    top 0 center / 1920px 1080px repeat url("../img/cosmos.jpg"),
    $black;
}

.contact__title {
  margin: 28px auto 25px;

  font: $text-title;
  color: $white;
  text-align: center;

  overflow: hidden;

  @media (max-width: $only-mobile-width) {
    margin: 3px auto 21px;

    font: $text-title-mobile;
  }
}

.contact__form-wrapper {
  position: relative;
  padding: 20px 0;

  border-radius: 27px;
  background-color: $dark-blue;
  box-shadow: 0 4px 53px 5px rgba($black, 0.55);

  overflow-x: hidden;

  @keyframes zoom-in {

    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
      opacity: 1;
    }
  }

  animation: zoom-in 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.contact__inner-container {
  position: relative;

  margin: 0 45px;

  text-align: center;

  @media (max-width: $only-mobile-width) {
    margin: 0 35px;
  }
}

.contact__text {
  margin: 12px 20px 0;

  font: $text-form;
  color: $white;
  text-align: center;

  &--dark {
    color: $blue;
  }

  &--small {
    margin-top: 7px;

    font: $text-form-label;
  }

  @media (max-width: $only-mobile-width) {
    margin: 6px 20px 0;

    font: $text-form-mobile;

    &--small {
      font: $text-form-label-mobile;
    }
  }
}

.contact__fieldset {
  margin-top: 8px;

  text-align: left;

  @media (max-width: $only-mobile-width) {
    margin-top: 3px;
  }
}

.contact__item {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 20px;
  }

  @media (max-width: $only-mobile-width) {
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.contact__label {
  display: block;
  order: 1;

  font: $text-form-label;
  color: $blue;

  &--req::after {
    content: "*";
    display: inline;

    font: $text-form-label;
    color: $blue;
    text-align: left;
  }

  @media (max-width: $only-mobile-width) {
    font: $text-form-label-mobile;
  }
}

.contact__input {
  display: block;
  order: 2;
  width: 100%;
  margin: 5px 0;
  padding: 4px 10px 1px 0;

  font: $text-form;
  color: $pale-blue;
  text-align: left;

  border: none;
  border-bottom: 1px solid $desaturated-blue;
  background-color: transparent;

  &:hover,
  &:focus {
    border-bottom: 1px solid $white;
  }

  &:hover + .contact__label,
  &:focus + .contact__label {
    color: $pale-blue;
  }

  @media (max-width: $only-mobile-width) {
    padding: 2px 30px 1px 0;

    font: $text-form-mobile;
  }
}

.contact__policy-wrapper {
  display: flex;
}

.contact__checkbox-label {
  @include defaultHoverEffect();

  position: relative;
  display: block;
  flex: 0 0 auto;
  width: 31px;
  height: 31px;
  margin: 0 7px 0 2px;

  border-radius: 8px;
  background-color: $medium-blue;

  cursor: pointer;

  @media (max-width: $only-mobile-width) {
    width: 25px;
    height: 25px;
  }
}

.contact__checkbox-input:checked + .contact__checkbox-label {
  background:
    center / 16px 13px no-repeat url("../img/check.svg"),
    $medium-blue;

  @media (max-width: $only-mobile-width) {
    background:
      center / 13px 10px no-repeat url("../img/check.svg"),
      $medium-blue;
  }
}

/* stylelint-disable */
.contact__checkbox-input:focus + .contact__checkbox-label {
  outline: 1px dotted $ms-outline-color;
  outline: 5px auto -webkit-focus-ring-color;
}
/* stylelint-enable */

.contact__policy-text {
  margin: 5px;
  padding: 0;

  font: $text-form-label;
  color: $blue;
  text-align: left;

  @media (max-width: $only-mobile-width) {
    margin: 4px;

    font: $text-form-label-mobile;
  }
}

.contact__police-link {
  color: $grayish-blue;
  text-decoration: underline;

  transition: color 0.2s ease-in;

  &:hover {
    color: $pale-blue;
  }

  &:active {
    color: rgba($pale-blue, 0.7);
  }
}

.contact__button {
  @include defaultHoverEffect();

  display: inline-block;
  margin: 30px 10px 20px;
  padding: 11px 40px 10px;

  font: $text-form;
  color: $pale-blue;
  text-align: center;

  border: none;
  border-radius: 22px;
  background-color: $medium-blue;

  @media (max-width: $only-mobile-width) {
    margin: 26px 10px 15px;
    padding: 10px 34px;

    font: $text-form-mobile;

    border-radius: 17px;
  }
}
