mixin site-logo()
  a(class=attributes.parentClass class='site-logo')
    picture(class='site-logo__picture')
      source(type='image/webp' srcset='img/logo-desktop@1x.webp')
      img(class='site-logo__img' src='img/logo-desktop@1x.png' alt='Personal logo')
