/* stylelint-disable plugin/selector-bem-pattern */
.success,
.error {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  overflow: auto;

  padding-top: 300px;

  text-align: center;
  vertical-align: middle;

  background-color: rgba($black, 0.8);
}

.error {
  background-color: rgba($red, 0.8);
}

.success__message,
.error__message {
  position: relative;

  font: $text-template;
  color: $white;

  @media (max-width: $only-mobile-width) {
    font: $text-template-mobile;
  }
}
