section(class='intro')
  div(class='intro__container container')
    h1(class='intro__title') Hello, I'm Dakota&nbsp;Jhonson
    p(class='intro__text') I’m an Art Director & Photographer based in the San Francisco.
    a(class='intro__button button' href='portfolio.html') See My Works

  div(class='intro__social-wrapper')

    include ../social-list/social-list.pug
    +social-list([
      {
        name: 'facebook',
        href: 'facebook.html',
        width: '15',
        height: '25'
      },
      {
        name: 'twitter',
        href: 'twitter.html',
        width: '25',
        height: '22'
      },
      {
        name: 'instagram',
        href: 'instagram.html',
        width: '25',
        height: '25'
      },
      {
        name: 'flickr',
        href: 'flickr.html',
        width: '25',
        height: '25'
      }
    ])(parentClass='intro__social-list')

  button(class='intro__scroll' type='button' aria-label='Scroll to personal description')
    svg(class='intro__scroll-icon' width='32' height='28' role='img')
      title Arrow down
      use(xlink:href='#scroll-down')
