@font-face {
  font-family: "Roboto"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local("Roboto Light"),
    local("Roboto-Light"),
    url("../fonts/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-family: "Roboto"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto"; /* stylelint-disable-line font-family-name-quotes */
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
}
