/* stylelint-disable plugin/selector-bem-pattern */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  position: relative;
  min-width: 330px;
  margin: 0;
  padding: 0;

  font: $text-default;
  color: $default-text-color;

  background-color: $default-bg-color;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 387px;
  }
}

.success,
.error {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  overflow: auto;

  padding-top: 150px;

  text-align: center;
  vertical-align: middle;

  background-color: rgba($black, 0.8);
}

.error {
  background-color: rgba($red, 0.8);
}

.success__message,
.error__message {
  position: relative;

  margin: 0 20px;

  font: $text-template;
  color: $white;

  @media (max-width: $only-mobile-width) {
    font: $text-template-mobile;
  }
}
