/* stylelint-disable plugin/selector-bem-pattern */
@mixin defaultHoverEffect {
  transition: transform 0.2s ease-in;

  &:hover {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  &:active {
    transform: scale3d(0.8, 0.8, 0.8);
  }
}

@mixin imgContainer {
  overflow: hidden;

  & picture,
  & img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
